body,html{
	width: 100%;
	margin: 0px;
	background: #ddd;
}
.panelCarga{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(250,250,250,0.9);
	z-index: 102;
	display: none;
}
.bodyCarga{
	margin-left: 20%;
	width: 60%;
	text-align: center;
	margin-top: 50px;
}
.imgCarga{
	width: 30%;
}
.textCarga{
	font-weight: bold;
	font-size: 20px;
	font-family: sans-serif;
	margin-top: 10px;
}


.mainContent{
	width: 100%;
	font-family: sans-serif;
}
/*Dosis - Google fonts*/
.headerContent{
	padding: 10px;
	width: calc(100% - 20px);
	height: 30px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	background: linear-gradient(#980f0f,#c74a4a);
	color: white;
	display: inline-flex;
	box-shadow: 0px 0px 3px 1px rgb(125,125,125);
}
.mainBodyContent{
	margin-top: 50px;
}
.backSpace{
	width: 30px;
}
.iconSpace{
	font-size: 28px;
}
.headerTitle{
	font-size: 20px;
	width: calc(100% - 30px);
	padding-top: 3px;
	font-weight: bold;
}
.iconMode2{
	font-size: 30px;
}
.menuHeader{
	width: 30px;
}
.bodyContent{
	padding: 10px;
	width: calc(100% - 20px);
}
.rowLine{
	width: 100%;
}
.rowLineFlex{
	width: 100%;
	display: inline-flex;
}
.sameLine{
	display: inline-flex;
	width: 80%;
	margin-left: 10%;
}
.btnSpace{
	padding-bottom: 10px;
}
.btnPrimary{
	width: 160px;
	color: white;
	padding: 10px;
	border-radius: 5px;
	border-style: none;
	background: #607d8b;
	text-align: center;
}
.lbl{
	font-size: 15px;
	font-weight: bold;
	padding-top: 7px;
}
.lblNew{
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: bold;	
}
.finalPartTbl{
	background: #333;
	color: white;
	border-radius: 0px 0px 5px 5px;
}
.valueRequest{
	font-size:15px;
}
.tblDistributionTalla{
	width: 80%;
	margin-left: 10%;
}
.spaceIpt{

}
.btnSearchSpace{
	width: 30px;
	height: 30px;
}
.btnSearch{
	width: 30px;
	height: 28px;
	padding: 0px;
	padding: 2px 2px 2px 2px;
	font-size: 22px;
	border-radius: 0px 5px 5px 0px;
}
.classIpt{
	width: calc(100% - 12px);
	height: 20px;
	font-size: 15px;
	padding: 7px;
	border-width: 1px;
	border-radius: 8px;
}
.tblSelection{
	margin-top: 10px;
	background: white;
	width: calc(80%);
	height: 80px;
	margin-left: 10%;
	overflow-y: scroll;
}
.bodyPrimary{
	display: block;
}
.bodySecondary{
	display: none;
}
.listaTalleres{
	width: 100%;
}
.taller{
	padding: 5px;
	width: calc(100% - 10px);
	font-size: 14px;
}
.rowCenter{
	padding: 10px;
	padding-top: 20px;
}
.subtitle{
	width: 100%;
	font-weight: bold;
	font-size: 15px;
	display: inline-flex;
}
.spaceInLine{
	width: 100%;
	height: 10px;
}
.tblContent{
	width: 100%;
}
::-webkit-scrollbar{
	display: block;
	background: #ea6060;
	width: 10px;
	color: blue;
}
::-webkit-scrollbar-thumb {
	background: #980f0f;
	border-radius: 4px;
}
.tblHeader{
	display: inline-flex;
	background: #980f0f;
	border-radius: 5px 5px 0px 0px;
	width: 100%;
	font-size: 15px;
	font-weight: bold;
}
.itemHeader{
	width: 20%;
	padding: 5px;
	text-align: center;
	color: white;
}
.itemHeader2{
	padding: 5px;
	text-align: center;
	color: white;
}
.verticalHeader{
	padding-top: 5px;
}
.tblBody,.tblBodyResumen{	
	background: white;
	font-size: 15px;
	border-radius: 0px 0px 5px 5px;
	width: 100%;
}
.tblLine{
	display: inline-flex;
	width: 100%;
	border-top: 1px solid #560c0c;
	cursor: pointer;
}
.codAuditoria{
	text-decoration: underline;
	cursor: pointer;
}
.itemBody{
	width: 20%;
	padding: 5px;
	text-align: center;
}
.itemBody2{
	padding: 5px;
	text-align: center;
}
.rowNormal{
	padding-top: 10px;
}
.textCenter{
	width: 100%;
	text-align: center;
}
.detalleMuestras{
	width: 100%;
}
.spaceTipoMuestra{
	width: 100%;
}
.inputCheckSpace{
	display: inline-flex;
}
input[type="checkbox"]{
	margin: 0px 5px 10px 5px;
	width: 20px;
	height: 20px;
}
.descCheack{
	padding-top: 2px;
	display: flex;
}
#muestraSelection{
	display: none;
}
.iptForDiscrecional{
	display: none;
}
.formAlternative{
	width: calc(230px);
	font-weight: normal;
	padding-top: 8px;
}
.finalBtn{
	width: 100%;
	text-align: -webkit-right;
	display: none;
}
.lineWithDecoration{
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 2px;
	background: #560c0c;
}
.tblDefectos,.tblOperaciones{
	margin-top: 10px;
	margin-left: 10%;
	width: 80%;
	background: white;
	height: 80px;
	overflow-y: scroll;
}
.defecto,.operacion{
	padding: 5px;
	width: calc(100% - 10px);
	font-size: 15px;
}
.btnSpaceDouble{
	width: 100%;
	display: inline-flex;
}
.lateralSpace{
	width: 20px;
}
.spaceBtnOne{
	width: calc(50% - 10px);
}
.btnSpecialStyle{
	width: calc(100% - 20px);
}
.lblMsg{
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 18px;
	color: red;
}

/* MODAL */
.modalContainer{
	position: fixed;
	width: calc(100% - 40px);
	height: 100%;
	background: rgba(25,25,25,0.8);
	top: 0px;
	left: 0px;
	z-index: 101;
	padding: 20px;
	display: none;
}
.modalBackground{
	background: white;
	padding: 10px;
	width: calc(100% - 20px);
	border-radius: 5px;
	font-family: sans-serif;
}
.lineModal{
	width: 100%;
	height: 30px;
}
.iconoClose{
	float: right;
	font-size: 25px;
}
.modalTitle{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.modalBody{
	width: calc(100% - 20px);
	padding:10px;
}
.lineModalBody{
	display: flex;
	width: 100%;
	padding-bottom: 5px;
	font-size: 15px;
}
.lineDecoration{
	width: 100%;
	height: 1px;
	background: #999;
	margin-top: 5px;
	margin-bottom: 5px;
}
.lblLineModalBody{
	width: 120px;
	font-weight: bold;
}
.modalButtons{
	display: flex;
	width: 100%;
}
.btnModal{
	width: calc(50%);
	background: #607d8b;
	color: white;
	font-size: 15px;
	padding: 10px;
	border-style: none;
	border-radius: 5px;
}
.spaceVertical{
	width: 10px;
}
/* AUDITORIA REGISTRADA */
.tblPrendasDefecto{
	width: 100%;
}
.iptClass{
	width: calc(100% - 10px);
	padding: 5px;
	border-style: none;
	font-size: 18px;
	border-radius: 5px;
}
@media(max-width: 570px){
	.verticalHeader{
		padding-top: 15px;
	}
}


/* ESTILOS DE MENU */
.menuContent{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 101;
	width: 100%;
	height: 500px;
	font-family: sans-serif;
}
.spaceMenu{
	position: absolute;
	top: 5px;
	right: 5px;
	background: white;
	border-radius: 5px;
	width: 50%;
	box-shadow: 0px 0px 5px 1px rgba(25,25,25,0.8);
}
.userSpace{
	text-align: center;
	width: 100%;
}
.imgUser{
	width: 40%;
	padding: 5px;
	padding-top: 10px;
}
.detailUser{
	font-size: 14px;
	text-align: center;
}
.itemsMenu{
	padding: 10px;
	width: calc(100% - 20px);
	cursor: pointer;
}

/* ESTILOS MAIN.PHP */
.itemMainContent{
	width: calc(50% - 20px);
	padding: 10px;
}
.bodySpecialButton{
	width: calc(100% - 20px);
	height: 140px;
	background: #607d8b;
	color:white;
	padding: 10px;
	border-radius: 10px;
	box-shadow: -3px 2px 7px 1px rgba(25,25,25,0.8);	
	cursor:pointer;
}
.icon{
	width: 100%;
	text-align: center;
	font-size: 60px;
	padding-bottom: 10px;
}
.detailSpecialButton{
	text-align: center;
	width: 100%;
}
.addPaddings{
	padding-top: 9px;
	padding-bottom: 9px;
}
.addPaddingsTwo{
	padding-top: 18px;
	padding-bottom:18px;
}

/* CONSULTAR EDITAR AUDITORIA */
.btnBuscarSpace{
	background: #607d8b;
	border-radius: 5px;
	color: white;
	font-size: 25px;
	padding-left: 5px;
	padding-top: 1px;
}
.msgForFichas{
	display: none;
	color: red;
	font-size: 15px;
	padding-top: 10px;
}
/* MODAL DE EDITAR DEFECTOS */
.editarDefectos{
	position: fixed;
	top:0px;
	left: 0px;
	background: rgba(25,25,25,0.8);
	padding: 20px;
	width: calc(100% - 40px);
	height: 100%;
	font-family: sans-serif;
	z-index: 101;
	display: none;
}
.agregarDefectos{	
	position: fixed;
	top:0px;
	left: 0px;
	background: rgba(25,25,25,0.8);
	padding: 20px;
	width: calc(100% - 40px);
	height: 100%;
	font-family: sans-serif;
	z-index: 101;
	display: none;
}
.contentEditar{
	padding: 10px;
	width: calc(100% - 20px);
	background: white;
	border-radius: 5px;
}
.titleContent{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.bodyEdicion{
	width: 100%;
}
.classCmbBox{
	width: 100%;
	height: 35px;
	border-radius: 5px;
	font-size: 15px;
	padding: 5px;
	margin-bottom: 10px;
}
.bodyEdicion input[type="number"]{
	font-size: 15px;
	margin-left: 35%;
	width: calc(30% - 8px);
	padding: 7px;
	border:1px solid #aaa;
	margin-bottom: 10px;
}
.btnPrimary{
	font-size: 15px;
}
.btnPrimaryDisabled{
	background: #b2c3cb;
}
.btnPrimaryActive{
	background: #607d8b;
}
.in3lines{
	padding: 0px 0px;
}
@media(min-width: 386px){
	.in3lines{
		padding: 9px 0px;
	}
}
@media(min-width: 454px){
	.addPaddings{
		padding: 18px 0px;
	}
	#spaceForCharts2{
		display: flex;
	}
}

/*MENSAJE INSTANTANEO*/
.msgInstant{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 80%;
	margin-top: 20px;
	margin-left: 10%;
	z-index: 101;
	font-size: 20px;
	font-family: sans-serif;
}
.bodyMsgInstant{
	box-shadow: 0px 0px 8px 2px rgba(50,50,50,0.8);
	background: white;
	padding: 10px;
	width: calc(100% - 20px);
	border-radius: 5px;
}
.mayorContent{
	width: 100%;
	overflow-x: scroll;
}
.classSelect{
	border: 1px solid #666;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 5px;
	background: white;
}
.lbl-box{
	font-size: 12px;
}
.tblSpace{
	margin: auto;
}