.option-line{
	display: flex;
	width: 80%;
	margin-left: 10%;
    margin-bottom: 5px;
}
.special-select{
	width: calc(50% - 5px);
	padding: 5px;
	border-radius: 5px;
}
input[type="date"] {
	width: calc(50% - 5px);
	padding: 5px;
	border:1px #999 solid;
	border-radius: 5px;
}
.class-for-radio{
	width: 40%;
	padding-top: 3px;
    font-size: 15px;
}
.class-for-selects{
	width: 60%;
	display: flex;
}

@media(max-width: 380px){
	.class-for-radio{
    	font-size: 13px;
	}
}